body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.dark-mode {
    background-color: black; /* Dark mode background color */
    color: #ffffff; /* Dark mode text color */
}
.side-bar{
    height: 95.8vh;
    background: rgb(34,25,74);
    background: linear-gradient(180deg, rgba(34,25,74,1) 0%, rgba(85,6,85,1) 73%);
    padding: 20px  30px;
    .icon{
        color: white;
        font-size: 26px;
        position: fixed;
        bottom: 50px;
        left: 100px;
        cursor: pointer;
    }
}
.top-menu{
    color: #550655;
    width: 1679px;
    height: 70px;
    background-color: #faf5fc;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 10px;
    a{
        text-decoration: none;
        &:first-of-type{
            font-weight: bold;
        }
        &:hover{
            font-weight: bold;
        }
    }
    .new-background {
        background: rgb(132,20,191);
        background: linear-gradient(180deg, rgba(132,20,191,1) 0%, rgba(246,222,255,1) 73%);
    }
}
.secondary-menu{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    .belgique{
        background-color: #f6deff;
        padding: 25px;
        border-radius: 0 0 10px 0;
        &:hover{
            font-weight: bold;
        }
    }
    .jupiler{
       background-color: #f5e7fa; 
       padding: 25px;
       border-radius: 0 0 10px 0;
       &:hover{
        font-weight: bold;
        }
    }
}
.hidden {
    display:none !important;
}
.image{
    position: fixed;
    bottom: 0;
    right: 0px;
    z-index: -100;
    img{
        display: block;
    }
}
.your-bets-wrapper {
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 10000;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    .your-bets{
        position:relative;
        background-color: #550655;
        color: white;
        font-size: 20px;
        padding: 5px 100px;
        border-radius: 10px 10px 0 0;
        text-align:center;
    }
    .detail_bets {
        position:relative;
        padding: 20px 30px;
        .details-wrapper{
            display: flex;
            .details-left{
                margin-right:20px;
                font-weight: bold;
                .subtitle{
                    font-weight: normal;
                    font-size: 12px;
                }
            }  
        }
    }
    .earnings {
        position: relative;
        padding: 5px 10px;
        line-height: 35px;
        input {
            width: 60px;
            height: 30px;
            border-radius: 5px;
        }
    }
    .earnings-left {
        text-align:left;
    }
    .earnings-right {
        text-align:right;
    }
    .earnings-wrapper{
        background-color: #dfdfdf;
    }
}
.bold {
    font-weight:bold;
}

.flex {
    display:flex;
}
.flex50 {
    width: 50%;
}

.matches{
    margin-top: 70px;
    margin-left: 70px;
    width: 500px;
    .match{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 10px 0 10px 10px;
        &:hover{
            background-color: #f5e7fa;
            border-radius: 10px;
            padding: 10px 0 10px 10px;
        }
    }
}
.odds{
    display: flex;
    .odd{
        margin: 0 10px;
        border: 1px solid gray;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.active{
    background-color: #f9e9ff;
    border: 2px solid #c767d8;
}